In [1]:
import pandas as pd

In [18]:
df = pd.read_excel('C:\\Users\\75480\\Desktop\\数据整理.xlsx',sheetname = '自然堂')
df2 = pd.read_excel('C:\\Users\\75480\\Desktop\\数据整理.xlsx',sheetname = '相宜本草')
df3 = pd.read_excel('C:\\Users\\75480\\Desktop\\数据整理.xlsx',sheetname = '妮维雅')

D:\Anaconda3\lib\site-packages\pandas\io\excel.py:329: FutureWarning: The `sheetname` keyword is deprecated, use `sheet_name` instead
  **kwds)

In [20]:
print(df.head())
print(df2.head())
print(df3.head())

  品牌名称          商品id  date1105  date1106  date1107  date1108  date1109  \
0  自然堂  A18980833277       169       169       169       169       169
1  自然堂  A19008350212       249       249       249       249       249
2  自然堂  A19009618209       348       348       348       348       348
3  自然堂  A19371494116       508       508       508       508       508
4  自然堂  A19504102657        76        76        76        76        76

   date1110  date1111  date1112  date1113  date1114
0       169       179       503       503       503
1       249       198       249       249       249
2       348       288       348       348       348
3       508       448       508       508       508
4        76        53        76        76        76
   品牌名称          商品id  date1105  date1106  date1107  date1108  date1109  \
0  相宜本草  A10027317366     258.0     258.0     258.0     258.0     258.0
1  相宜本草  A12620554096     178.0     178.0     178.0     178.0     178.0
2  相宜本草  A13047655105      64.0      64.0      64.0      64.0      64.0
3  相宜本草  A13421025693     118.0     118.0     118.0     118.0     118.0
4  相宜本草  A14454708036     128.0     128.0     128.0     128.0     128.0

   date1110  date1111  date1112  date1113  date1114
0     258.0     159.0     188.0     188.0     188.0
1     178.0     118.0     118.0     118.0     118.0
2      64.0      32.0      49.0      49.0      64.0
3     118.0      78.0      98.0      98.0     118.0
4     128.0      64.0     128.0     128.0     128.0
  品牌名称          商品id  date1105  date1106  date1107  date1108  date1109  \
0  妮维雅  A17008418616     38.99     38.99     38.99     38.99     38.99
1  妮维雅  A17017761499     18.99     18.99     18.99     18.99     18.99
2  妮维雅  A17017881808    119.99    119.99    119.99    119.99    119.99
3  妮维雅  A17018666462     96.99     96.99     96.99     96.99     96.99
4  妮维雅  A17019034422     34.99     34.99     34.99     34.99     34.99

   date1110  date1111  date1112  date1113  date1114
0     38.99     35.07     38.99     38.99     38.99
1     18.99     18.99     18.99     18.99     18.99
2    119.99    106.20    119.99    116.90    119.99
3     96.99     87.28     89.00     89.00     96.99
4     34.99     34.99     34.99     34.99     34.99

In [22]:
demo = ['品牌名称','商品id','date1105']
print(df[demo].head())
print(df2[demo].head())
print(df3[demo].head())

  品牌名称          商品id  date1105
0  自然堂  A18980833277       169
1  自然堂  A19008350212       249
2  自然堂  A19009618209       348
3  自然堂  A19371494116       508
4  自然堂  A19504102657        76
   品牌名称          商品id  date1105
0  相宜本草  A10027317366     258.0
1  相宜本草  A12620554096     178.0
2  相宜本草  A13047655105      64.0
3  相宜本草  A13421025693     118.0
4  相宜本草  A14454708036     128.0
  品牌名称          商品id  date1105
0  妮维雅  A17008418616     38.99
1  妮维雅  A17017761499     18.99
2  妮维雅  A17017881808    119.99
3  妮维雅  A17018666462     96.99
4  妮维雅  A17019034422     34.99

In [37]:
ee = pd.concat([df[demo],df2[demo]],axis = 0)
ee

    品牌名称           商品id  date1105
0    自然堂   A18980833277     169.0
1    自然堂   A19008350212     249.0
2    自然堂   A19009618209     348.0
3    自然堂   A19371494116     508.0
4    自然堂   A19504102657      76.0
5    自然堂   A21301819561     286.0
6    自然堂   A24612192437     339.0
7    自然堂   A24613052135     418.0
8    自然堂   A26631608431     239.0
9    自然堂   A41198080050     459.0
10   自然堂   A44148996597     170.0
11   自然堂  A521250143002     668.0
12   自然堂  A522562862000     548.0
13   自然堂  A531338636494     108.0
14   自然堂  A534266666696      99.0
15   自然堂  A537613126508     148.0
16   自然堂  A537653165949      96.0
17   自然堂  A539970643513     288.0
0   相宜本草   A10027317366     258.0
1   相宜本草   A12620554096     178.0
2   相宜本草   A13047655105      64.0
3   相宜本草   A13421025693     118.0
4   相宜本草   A14454708036     128.0
5   相宜本草   A15182329900     138.0
6   相宜本草   A13956982789     218.0
7   相宜本草   A15648674791     342.0
8   相宜本草   A18346600085      79.0
9   相宜本草   A19191568229      89.0
10  相宜本草   A20438280981     105.0
11  相宜本草   A20446335583      68.0
..   ...            ...       ...
30  相宜本草   A41715384674     119.0
31  相宜本草   A43453058444     258.0
32  相宜本草   A43462886706     373.0
33  相宜本草   A45470827080      98.0
34  相宜本草   A45558340726     109.0
35  相宜本草  A520305131661     128.0
36  相宜本草  A520307554770     148.0
37  相宜本草  A520425060059      88.0
38  相宜本草  A521245728594      68.0
39  相宜本草  A522541079975     148.0
40  相宜本草  A522578990345     169.0
41  相宜本草  A523195635862     298.0
42  相宜本草  A523225736031     168.0
43  相宜本草  A524104552256     237.0
44  相宜本草  A526979160804     189.0
45  相宜本草  A528180566722      69.0
46  相宜本草  A528214164460      89.0
47  相宜本草  A530869992309     188.0
48  相宜本草  A532646427195      89.0
49  相宜本草  A533763057295     307.0
50  相宜本草  A536881052520      90.0
51  相宜本草  A537493051770     159.0
52  相宜本草  A537647976041     109.0
53  相宜本草  A538466189350     259.0
54  相宜本草  A538773258117     258.0
55  相宜本草  A539919712722     138.0
56  相宜本草  A540749662875     198.0
57  相宜本草  A540796858993     116.0
58  相宜本草    A6362027578      60.0
59  相宜本草    A9709829810      99.0

[78 rows x 3 columns]

In [24]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

In [25]:
df = DataFrame({'类别':['水果','水果','水果','蔬菜','蔬菜','肉类','肉类'],
                '产地':['美国','中国','中国','中国','新西兰','新西兰','美国'],
                '水果':['苹果','梨','草莓','番茄','黄瓜','羊肉','牛肉'],
               '数量':[5,5,9,3,2,10,8],
               '价格':[5,5,10,3,3,13,20]})
print(df)

   类别   产地  水果  数量  价格
0  水果   美国  苹果   5   5
1  水果   中国   梨   5   5
2  水果   中国  草莓   9  10
3  蔬菜   中国  番茄   3   3
4  蔬菜  新西兰  黄瓜   2   3
5  肉类  新西兰  羊肉  10  13
6  肉类   美国  牛肉   8  20

In [26]:
print(pd.crosstab(df['类别'],df['产地'],margins=False))

产地  中国  新西兰  美国
类别
水果   2    0   1
肉类   0    1   1
蔬菜   1    1   0

In [27]:
print(pd.crosstab(df['类别'],df['产地'],margins=True))

产地   中国  新西兰  美国  All
类别
水果    2    0   1    3
肉类    0    1   1    2
蔬菜    1    1   0    2
All   3    2   2    7

In [28]:
df['价格'] = pd.cut(df['价格'],[0,10,20,30],labels = ['小于10','10-20','20-30'])
df['价格']

0     小于10
1     小于10
2     小于10
3     小于10
4     小于10
5    10-20
6    10-20
Name: 价格, dtype: category
Categories (3, object): [小于10 < 10-20 < 20-30]

In [29]:
df['数量'] = pd.cut(df['数量'],[0,5,10],labels = ['小于5','5-10'])
df['数量']

0     小于5
1     小于5
2    5-10
3     小于5
4     小于5
5    5-10
6    5-10
Name: 数量, dtype: category
Categories (2, object): [小于5 < 5-10]

In [30]:
s = pd.concat([df['价格'] ,df['数量']],axis = 1)
s

      价格    数量
0   小于10   小于5
1   小于10   小于5
2   小于10  5-10
3   小于10   小于5
4   小于10   小于5
5  10-20  5-10
6  10-20  5-10

In [31]:
print(pd.crosstab(df['价格'],df['数量'],margins=True))

数量     小于5  5-10  All
价格
小于10     4     1    5
10-20    0     2    2
All      4     3    7

In [33]:
d = pd.crosstab(df['价格'],df['数量'],margins = False)
d

数量     小于5  5-10
价格
小于10     4     1
10-20    0     2